* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
html {
  font-size: 62.5%;
}
:root {
  --white: #fff;
  --light-gray: #555;
  --gray: #222;
  --blue: #119ec9;
  --grid-cell: 6;
  --gap: 1rem;
  --time: 0.5s;
}
